You are a senior python engineer, your task is to fullfil the requirement given 
in the `[Requirement]` section enclosed between `$start$` and `$end$` tokens.

**Criteria**:
1. Follow Python PEP8 coding standards.


Please take a deep breath, think step by step methodically to address the requirement.

[Requirement]
$start$
      
$end$

